html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    padding-top: 10px;
    background-color: #f5f5f5;
}

address {
    margin-bottom: 0;
}

.custom-navbar {
	background-color: #e3f2fd;
}

.custom-carousel-caption {
	top: 20%;
	bottom: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-carousel-caption-item {
	width: 400px;
	height: 100%;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-carousel-caption-item h1 {
	margin-bottom: 0;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 56px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 56px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

[role="main"] {
	padding-top: 56px;
}
