<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>
        {% if title %}
        {{ title }} -
        {% endif %}
        Sakhalin Inc
    </title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar fixed-top">
        <a class="navbar-brand p-0" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Sakhalin, Inc." height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain"
                aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('catalog.show_item_list') }}" class="nav-link">
                        Item list
                    </a>
                </li>
                {% if current_user.email in config['ADMIN'] %}
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" id="navbarControl" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="navbarControl">
                        <a href="{{ url_for('admin.show_item_list') }}" class="dropdown-item">Items</a>
                        <a href="{{ url_for('admin.show_category_list') }}" class="dropdown-item">Categories</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('admin.show_user_list') }}" class="dropdown-item">Users</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
            <form class="form-inline my-2 my-lg-0" action="">
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger my-2 my-sm-0"
                   role="button">Logout</a>
            </form>
            {% endif %}
        </div>
    </nav>
</header>
<main role="main">
    {% block content %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <address>
                <strong>Sakhalin, Inc.</strong>
                <br>
                117 25th St
                <br>
                Brooklyn, NY 11232
                <br>
                <abbr title="Phone">
                    <i class="fas fa-phone"></i>
                </abbr>
                <a href="tel:7184375465">(718) 437-5465</a>
                <br>
                <abbr title="Fax">
                    <i class="fas fa-fax"></i>
                </abbr>
                (718) 928-7704
                <br>
                <abbr title="Email">
                    <i class="fas fa-envelope"></i>
                </abbr>
                <a href="mailto:sakhalin2000@hotmail.com">sakhalin2000@hotmail.com</a>
            </address>
        </span>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>