{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <div class="row mb-2">
        <div class="col-sm">
            <form action="" method="post" class="form-inline float-right">
                {{ form.hidden_tag() }}
                <label for="{{ form.email.id }}" class="my-1 mr-2">Add a new user</label>
                {{ form.email(class='form-control mr-sm-2', placeholder='Email', type='email') }}
                {{ form.password(class='form-control mr-sm-2', placeholder='Password', type='password') }}
                <button class="btn btn-success " title="Add" type="submit">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('admin.delete_users') }}" method="post" id="deleteForm">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Email</th>
                        <th scope="col">
                            <button type="submit" class="btn btn-link p-0 text-danger" id="deleteSubmit" disabled
                                    onclick="return confirm('Are you sure you want to delete these users?')"
                                    title="Delete chosen items">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            <input type="checkbox" name="{{ user.id }}">
                        </td>
                        <td>
                            {% if user.email in config['ADMIN'] %}
                            {{ user.email }} <b>(ADMINISTRATOR)</b>
                            {% else %}
                            {{ user.email }}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.email in config['ADMIN'] %}
                            <i class="fas fa-trash-alt text-muted" title="Can't delete administrator"></i>
                            {% else %}
                            <a href="{{ url_for('admin.delete_user', user_id=user.id) }}" title="Delete"
                               class="text-danger"
                               onclick="return confirm('Are you sure you want to delete this user?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if users|length < 1 %}
                <div class="col-sm alert alert-warning" role="alert">
                    No users yet
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
