{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label() }}
                    {{ form.name(class='form-control', placeholder='Category name') }}
                </div>
                {{ form.submit(class='btn btn-success') }}
                {% if id %}
                <a href="{{ url_for('admin.delete_category', category_id=id) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?')">Delete</a>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}