{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <form action="" method="post" novalidate enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group row">
                    {{ form.name.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-10 col-md-4 mb-3">
                        {{ form.name(class='form-control', placeholder='Item name') }}
                    </div>
                    {{ form.price.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-10 col-md-4 mb-3 input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        {{ form.price(class='form-control', placeholder='Price') }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.description.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-10 col-md-4">
                        {{ form.description(class='form-control', rows='3') }}
                    </div>
                    {{ form.image.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-10 col-md-4">
                        <div class="custom-file">
                            {{ form.image(class='custom-file-input image-input') }}
                            <label for="{{ form.image.id }}" class="custom-file-label">Choose image</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.category_id.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-4 mb-3">
                        {{ form.category_id(class='custom-select') }}
                    </div>
                    {{ form.status.label(class='col-sm-2 col-form-label') }}
                    <div class="col-sm-4">
                        {{ form.status(class='custom-select') }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        {{ form.submit(class='btn btn-success') }}
                        {% if id is defined %}
                        <a href="{{ url_for('admin.delete_item', item_id=id) }}" class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-3">
            <img src="{{ image }}" alt="Item image" id="imagePreview" class="img-thumbnail mx-auto d-block">
        </div>
    </div>
</div>
{% endblock %}