{% extends "admin/layout.html" %}

{% block admin_content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{{ url_for('admin.delete_categories') }}" method="post" id="deleteForm">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">
                            <a href="{{ url_for('admin.create_category') }}" title="Add a category"
                               class="text-success">
                                <i class="fas fa-plus"></i>
                            </a>
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">
                            <button type="submit" class="btn btn-link p-0 text-danger" id="deleteSubmit" disabled
                                    onclick="return confirm('Are you sure you want to delete these categories?')"
                                    title="Delete chosen categories">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>
                            <input type="checkbox" name="{{ category.id }}">
                        </td>
                        <td>
                            <a href="{{ url_for('admin.update_category', category_id=category.id) }}" title="Edit">
                                {{ category.name }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for('admin.delete_category', category_id=category.id) }}" title="Delete"
                               class="text-danger"
                               onclick="return confirm('Are you sure you want to delete this category?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if categories|length < 1 %}
                <div class="col-sm alert alert-warning" role="alert">
                    No categories yet
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
