<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
    <title>
        Sign In - Sakhalin, Inc.
    </title>
</head>
<body class="text-center">
<form action="" method="post" class="form-signin">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="Sakhalin, Inc." height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    {% if get_flashed_messages() %}
    <div class="alert alert-danger">
        {% for error in get_flashed_messages() %}
        {{ error }}
        {% if not loop.last %}
        <br>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {{ form.email.label(class='sr-only') }}
    {{ form.email(class='form-control', placeholder='Email', autofocus='', required=True) }}
    {% for error in form.email.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {{ form.password.label(class='sr-only') }}
    {{ form.password(class='form-control', placeholder='Password', required=True) }}
    {% for error in form.password.errors %}
    <span>{{ error }}</span>
    {% endfor %}
    {{ form.submit(class='btn btn-lg btn-primary btn-block') }}
    <p class="mt-5 mb-3 text-muted">© 2018</p>
</form>
</body>
</html>