{% extends "layout.html" %}

{% block content %}
<div id="mainPageCarousel" class="carousel slide mb-3" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img
                    class="d-block w-100"
                    src="https://www.wikihow.com/images/thumb/d/d4/Make-Fish-Fillets-Without-Oil-Step-1-Version-2.jpg/aid958327-v4-728px-Make-Fish-Fillets-Without-Oil-Step-1-Version-2.jpg"
                    style="object-fit: cover;"
                    height="400"
                    alt="New"
            />
            <div class="carousel-caption custom-carousel-caption">
                <div class="bg-light custom-carousel-caption-item">
                    <h1 class="text-dark">New product</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img
                    class="d-block w-100"
                    src="http://www.kitirestaurant.com/wp-content/uploads/2017/06/frozen-fish.jpg"
                    style="object-fit: cover;"
                    height="400"
                    alt="Specials"
            />
            <div class="carousel-caption custom-carousel-caption">
                <div class="bg-light custom-carousel-caption-item">
                    <h1 class="text-dark">Specials</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <h1>New product</h1>
                <div class="row">
                    {% for i in new_items %}
                    <div class="col-sm col-md-6 mb-4">
                        <div class="card h-100">
                            <img src="{{ i.image }}" alt="{{ i.name }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.name }}</h5>
                                <p class="card-text">{{ unescape_newlines(i.description) }}</p>
                            </div>
                            <div class="card-footer {{ 'text-danger' if i.status == 'special' }}">
                                {{ "$%.2f"|format(i.price) }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <h1>Specials</h1>
                <div class="row">
                    {% for i in special_items %}
                    <div class="col-sm col-md-6 mb-4">
                        <div class="card h-100">
                            <img src="{{ i.image }}" alt="{{ i.name }}" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.name }}</h5>
                                <p class="card-text">{{ unescape_newlines(i.description) }}</p>
                            </div>
                            <div class="card-footer text-danger">
                                {{ "$%.2f"|format(i.price) }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
