{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col d-md-none mt-3">
            <select id="catalogCategory" class="custom-select">
                {% for c in categories %}
                <option value="{{ c.id }}" {{ 'selected' if c.id == category_id }}>
                    {{ c.name }}
                </option>
                {% endfor %}
            </select>
        </nav>
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {% for c in categories %}
                    <li class="nav-item">
                        <a
                            href="{{ url_for('catalog.show_item_list', category_id=c.id) }}"
                            class="nav-link {{ 'active' if c.id == collection_id }}"
                        >
                            {{ c.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="col-md-10 ml-sm-auto">
            <div class="row">
                {% for i in items %}
                <div class="col-12 col-sm-6 col-md-3 p-3">
                    <div class="card h-100">
                        <img src="{{ i.image }}" alt="{{ i.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.name }}</h5>
                            <p class="card-text">{{ unescape_newlines(i.description) }}</p>
                        </div>
                        <div class="card-footer {{ 'text-danger' if i.status == 'special' }}">
                            {{ "$%.2f"|format(i.price) }}
                        </div>
                    </div>
                </div>
                {% else %}
                <h1 class="text-center w-100 mt-5">
                    No products here yet.
                </h1>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
